<div>
  <button (click)="toggleForm()">
    {{ showForm ? 'Anuluj dodawanie klawiatury' : 'Dodaj klawiaturę' }}
  </button>
</div>

<div *ngIf="!showForm">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Typ Klawiatury</th>
        <th>Usun</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let keyboard of keyboards">
        <td> {{keyboard.id}}</td>
        <td>{{ keyboard.model }}</td>
        <td>{{ getTypLabel(keyboard.typ) }}</td>
        <td><button (click)="deleteKeyboard(keyboard.id)">Usun</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showForm">
    <form (submit)="addKeyboard()">
      <label for="model">Model:</label>
      <input type="text" id="model" name="model" [(ngModel)]="newKeyboard.model" required>
      <br>
      <label for="typ">Typ:</label>
      <select id="typ" name="typ" [(ngModel)]="newKeyboard.typ" required>
        <option *ngFor="let typ of typy" [value]="typ.value">{{ typ.label }}</option>
      </select>
      <br>
      <button type="submit">Dodaj</button>
      <button type="button" (click)="toggleForm()">Anuluj</button>
    </form>
  </div>
